.cardsContainer{
    border: 1px solid black;
    background-color: #121212;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.filterOptions{
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    padding-top: 10px;
    color: #E1E1E1
}

.options{
    margin-left: 20px;
    margin-right: 20px
}