.formContainer {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #eeeeeed0;
  border-radius: 40px;
  background-image: linear-gradient(45deg, rgba(131, 131, 131, 0.353), black, rgba(123, 117, 117, 0.387));
}

.form {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Dos columnas con igual tamaño */
  gap: 20px; /* Espacio entre las tablas */
}

.inputColumn{
  display: flex;
  flex-direction: column;
  padding: 30px
}

.secondColumn{
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: px;
}

.input {
  padding: 8px;
  margin-bottom: 0px;
  border: 1px solid rgba(255, 255, 255, 0.807);
  border-radius: 20px;
  outline: none;
  background-color: rgba(6, 6, 6, 0.8);
  color: whitesmoke;
}

.textarea {
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  height: 120px;
  outline: none;
  resize: vertical;
  background-color: rgba(6, 6, 6, 0.8);
  color: whitesmoke;
}

.errors {
  color: red;
  margin-top: 4px;
  margin-bottom: 12px;
  font-size: small;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.unlistOptions {
  grid-column: 2/2;
  padding: 10px;
  font-size: small;
  flex-direction: column;

  background-color: rgba(0, 0, 0, 0.68);
  border-radius: 20px;
  margin-left: 0 auto;
}


.removeButton {
  border-radius: 200px;
  background-color: rgb(131, 0, 0, 0.5);
  border: 2px solid rgb(131, 0, 0);
  font-weight: bolder;
  font-size: x-small;
  cursor: pointer;
  color: rgb(255, 1, 1);
}

.genreTag {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.removeButton:hover {
  background-color: red;
  color: white;
}
